@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NeoDunggeunmoPro-Regular', Arial, sans-serif;
    background-color: #f6f1ef;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


.container {
    width: 1200px;
    height: 800px;
    background: #ffffff;
    border: 5px outset #e4cec0;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

.sidebar {
    float: left;
    width: 290px;
    height: 750px;
    text-align: center;
    padding: 15px;
    background-color: #faf6f3;
    border: 5px outset #e4cec0;
    border-radius: 10px 0px 0px 10px;
}

.profile-img {
    width: 195px auto;
    height: 195px;
    margin-bottom: 30px;
    margin-top: 15px;
    border-radius: 15px;
}

.bold {
    font-weight: bold;
}

.username {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 45px;
    border-bottom: 5px solid #e4d3c0;
}

.greeting {
    font-size: 21px;
    margin-bottom: 30px;
}

.oneword {
    color: #7b6b58;
    font-size: 25px;
    margin-bottom: 15px;
}
/*음악 플레이어*/
/* 턴테이블 스타일 */
.turntable {
    width: 225px;
    height: 225px;
    background-color: #353434;
    border-radius: 50%;
    position: relative;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    top: 22.5px;
}

.album-cover {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: 25%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.album-cover.playing {
    animation: rotate 5s linear infinite;
}

/* 회전 애니메이션 */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 턴테이블의 팔 (Arm) */
.turntable-arm {
    width: 15px;
    height: 90px;
    background-color: #777;
    position: absolute;
    top: 65%;
    left: 35%;
    transform-origin: 50% 0%;
    transform: rotate(45deg);
    border-radius: 3px;
    z-index: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/*음악 플레이어*/

.main-content {
    margin-left: 330px;
}

header {
    background-color: #f7efea;
    padding: 15px;
    font-size: 21px;
    border: 5px outset #e4d3c0;
    border-radius: 0px 10px 0px 0px;
}

.title {
    font-size: 22.5px;
}

.banner {
    width: 860px;
    height: 718px;
    border: 5px outset #e4cec0
}

.banner h3 {
    font-size: 22.5px;
    margin-top: 15px;
    border-bottom: 5px solid #e4d3c0;
    padding-bottom: 9px;
    padding-left: 22.5px;
}

.banner img {
    width: 90%;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.caption {
    text-align: center;
    font-style: italic;
    color: #555;
    font-size: 30px;
}

.copyright {
    font-size: 20px;
    color: #777;
    margin-top: 87px;
    margin-left: 40px;
}

/* 메뉴 스타일 */

.main {
    position: relative;  /* 상단에서 20px 만큼 떨어진 위치 */
    flex-direction: column;
    display: flex;
    left: 1200px;
    bottom: 650px;
}


.main button {
    width: 100px;
    height: 70px;
    background-color: #ffffff;
    padding: 15px;
    border-left: 0;
    border-top: 5px outset #e4cec0;
    border-right: 5px outset #e4cec0;
    border-bottom: 5px outset #e4cec0;
    cursor: pointer;
    text-align: left;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0);
    font-family: 'NeoDunggeunmoPro-Regular';
    position: relative;
    font-size: 23px;
}

.menu {
    position: relative;  /* 상단에서 20px 만큼 떨어진 위치 */
    flex-direction: column;
    display: flex;
    gap: 25px;
    left: 1205px;
    bottom: 630px;
}


.menu button {
    width: 130px;
    height: 70px;
    background-color: #b9a69c;
    padding: 10px;
    border-left: 0;
    border-top: 5px outset #e4cec0;
    border-right: 5px outset #e4cec0;
    border-bottom: 5px outset #e4cec0;
    cursor: pointer;
    text-align: left;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    font-family: 'NeoDunggeunmoPro-Regular';
    color: #ffffff;
    position: relative;
    font-size: 23px;
}

.menu button:hover {
    width: 95px;
}