@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NeoDunggeunmoPro-Regular', Arial, sans-serif;
    background-color: #f6f1ef;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    align-items: flex-start;
    height: 100vh;
}


.container {
    width: 800px;
    height: 530px;
    background: #ffffff;
    border: 5px outset #e4cec0;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.sidebar {
    float: left;
    width: 192px;
    height: 500px;
    text-align: center;
    padding: 10px;
    background-color: #faf6f3;
    border: 5px outset #e4cec0;
    border-radius: 10px 0px 0px 10px;
}

.profile-img {
    width: 130px auto;
    height: 130px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.bold {
    font-weight: bold;
}

.username {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    border-bottom: 2px solid #e4d3c0;
}

.greeting {
    font-size: 14px;
    margin-bottom: 20px;
}

.oneword {
    color: #7b6b58;
    margin-bottom: 10px;
}
/*음악 플레이어*/
/* 턴테이블 스타일 */
.turntable {
    width: 150px;
    height: 150px;
    background-color: #353434;
    border-radius: 50%;
    position: relative;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: 15px;
}

.album-cover {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.album-cover.playing {
    animation: rotate 5s linear infinite;
}

/* 회전 애니메이션 */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 턴테이블의 팔 (Arm) */
.turntable-arm {
    width: 10px;
    height: 70px;
    background-color: #777;
    position: absolute;
    top: 65%;
    left: 35%;
    transform-origin: 50% 0%;
    transform: rotate(45deg);
    border-radius: 3px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#audio-player {
    width: 100%;
    border-radius: 10px;
    margin-top: 25px;
    outline: none;
    border: none;
    left: 10%;
    display: block;
}
/*음악 플레이어*/

.main-content {
    margin-left: 220px;
}

header {
    background-color: #f7efea;
    padding: 10px;
    font-size: 14px;
    border: 5px outset #e4d3c0;
    border-radius: 0px 10px 0px 0px;
}

.title {
    font-size: 15px;
}

.banner {
    width: 570px;
    height: 475px;
    border: 5px outset #e4cec0
}

.banner h3 {
    font-size: 16px;
    margin-top: 15px;
    border-bottom: 2px solid #e4d3c0;
    padding-bottom: 5px;
    padding-left: 15px;
}

.banner img {
    width: 90%;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.caption {
    text-align: center;
    font-style: italic;
    color: #555;
}

/* 메뉴 스타일 */

.main {
    position: relative;  /* 상단에서 20px 만큼 떨어진 위치 */
    flex-direction: column;
    display: flex;
    gap: 10px;
    left: 804.5px;
    bottom: 460px;
}


.main button {
    width: 75px;
    height: 35px;
    background-color: #ffffff;
    padding: 10px;
    border-left: 0;
    border-top: 5px outset #e4cec0;
    border-right: 5px outset #e4cec0;
    border-bottom: 5px outset #e4cec0;
    cursor: pointer;
    text-align: left;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0);
    font-family: 'NeoDunggeunmoPro-Regular';
    position: relative;
}

.menu {
    position: relative;  /* 상단에서 20px 만큼 떨어진 위치 */
    flex-direction: column;
    display: flex;
    gap: 10px;
    left: 810px;
    bottom: 450px;
}


.menu button {
    width: 78.5px;
    height: 35px;
    background-color: #b9a69c;
    padding: 10px;
    border-left: 0;
    border-top: 5px outset #e4cec0;
    border-right: 5px outset #e4cec0;
    border-bottom: 5px outset #e4cec0;
    cursor: pointer;
    text-align: left;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    font-family: 'NeoDunggeunmoPro-Regular';
    color: #ffffff;
    position: relative;
}

.menu button:hover {
    width: 70px;
}